@import "/home/cris/.config/wofi/mocha.css";

* {
  color: @text;
  background-color: darker(@mauve);
}

window {
  /* background-color: @red; */
}

input {
  background-color: @peach;
  border-color: @red;
  color: @red;
}

